<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Responses Submitted Succesfully.
        Name: 
        E-mail: 
    </h1>
    <button> View Event Details. </button>
</body>
</html>