<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/styles/event-creation.css">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Create New Event</title>
</head>

<body>

  <nav class="navbar">
    <div class="navbar-container">
      <a href="/" class="nav-link">Home</a>
      <a href="/events/new" class="nav-link">Create Event</a>
    </div>
  </nav>

  <div class="full-width-image-container">
    <img src="/images/event-banner.webp" alt="Event Creator Banner" class="full-width-image">
  </div>


  <div class="main-content">
    <div class="welcome-container">
      <h2 class="Welcome-heading">Welcome to Event Creator</h2>
      <p class="welcome-text">
        Plan your next event seamlessly! Fill out the form below to create and share your event details!
      </p>
    </div>


    <div class="form-container">
      <h1>Create a New Event</h1>

      <form action="/events" method="POST">
        <label for="title">Event Title:</label>
        <input type="text" id="title" name="title" required><br>

        <label for="description">Event Description:</label>
        <textarea id="description" name="description" required></textarea><br>
        <!-- 'MP' add eventtime1, eventtime2, eventdate1, eventdate2-->
        <label for="eventTime1">Event Time 1:</label>
        <input type="Time" id="eventTime1" name="eventTime1" required><br>

        <label for="eventDate1">Event Date 1:</label>
        <input type="date" id="eventDate1" name="eventDate1" required><br>

        <label for="eventTime2">Event Time 2:</label>
        <input type="Time" id="eventTime2" name="eventTime2" required><br>

        <label for="eventDate2">Event Date 2:</label>
        <input type="date" id="eventDate2" name="eventDate2" required><br>

        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="email">Your Email:</label>
        <input type="email" id="email" name="email" required><br>

        <button type="submit">Create Event</button>


      </form>
    </div>
</body>

</html>